@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.product-card-container {
  min-height: 500px;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-option-list-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 25%;
}

.product-image {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

.color-option-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 50%;
}

.product-yellow-option {
  border-radius: 50%;
  background-color: rgba(230, 202, 151, 0.4);
  margin: auto;
  max-width: 30%;
  --mdc-radio-selected-icon-color: rgba(230, 202, 151, 0.4);
  --mdc-radio-selected-hover-icon-color: rgba(230, 202, 151, 0.4);
  --mdc-radio-selected-focus-icon-color: rgba(230, 202, 151, 0.4);
  --mat-radio-ripple-color: rgba(230, 202, 151, 0.4);
  --mat-radio-checked-ripple-color: rgba(230, 202, 151, 0.4);
  --mdc-radio-selected-pressed-icon-color: rgba(230, 202, 151, 0.4);
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-hover-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0);
}

.mat-radio-button.mat-radio-checked .mat-radio-inner {
  box-shadow: 0 0 10px 3px rgba(230, 202, 151, 0.4);
}

.product-rose-option {
  border-radius: 50%;
  background-color: rgba(225, 164, 169, 0.4);
  margin: auto;
  max-width: 30%;
  --mdc-radio-selected-icon-color: rgba(225, 164, 169, 0.4);
  --mdc-radio-selected-hover-icon-color: rgba(225, 164, 169, 0.4);
  --mdc-radio-selected-focus-icon-color: rgba(225, 164, 169, 0.4);
  --mat-radio-ripple-color: rgba(225, 164, 169, 0.4);
  --mat-radio-checked-ripple-color: rgba(225, 164, 169, 0.4);
  --mdc-radio-selected-pressed-icon-color: rgba(225, 164, 169, 0.4);
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-hover-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0);
}

.product-white-option {
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.4);
  margin: auto;
  max-width: 30%;
  --mdc-radio-selected-icon-color: rgba(217, 217, 217, 0.4);
  --mdc-radio-selected-hover-icon-color: rgba(217, 217, 217, 0.4);
  --mdc-radio-selected-focus-icon-color: rgba(217, 217, 217, 0.4);
  --mat-radio-ripple-color: rgba(217, 217, 217, 0.4);
  --mat-radio-checked-ripple-color: rgba(217, 217, 217, 0.4);
  --mdc-radio-selected-pressed-icon-color: rgba(217, 217, 217, 0.4);
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-hover-icon-color: rgba(0, 0, 0, 0);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0);
}

::ng-deep .mdc-radio {
  width: 16px;
}

.product-yellow-option-button {
  min-width: 25%;
  max-height: 30px;
  border-radius: 50%;
  background-color: rgba(230, 202, 151, 0.4);
}

.product-rose-option-button {
  min-width: 25%;
  max-height: 30px;
  border-radius: 50%;
  background-color: rgba(225, 164, 169, 0.4);
}

.product-white-option-button {
  min-width: 25%;
  max-height: 30px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.4);
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
