.page-layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 0 10rem;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: scroll;
  min-width: 100%;
}

.title-container {
  margin: 100px;
}

.product-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-chevron-container {
  margin: auto;
  min-width: 10%;
}

.right-chevron-container {
  margin: auto;
  min-width: 10%;
}
