/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/css-star-rating/scss/star-rating.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-mdc-radio-touch-target {
  height: 16px;
  width: 16px;
}

@font-face {
  font-family: "Avenir";
  src: url("../public/fonts/Avenir/Avenir-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../public/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../public/fonts/Montserrat/Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
